movie-list {
  .gallery-cell {
    margin: 0 .5em;
    height: 20em;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    position: relative;
    border: 5px solid rgba(255,255,255,0);

    h2, .content {
      font: font(medium);
      color: color(pearl);
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: hidden;
    }

    h2 {
      background: rgba(0,0,0,0.6);
    }

    .content {
      display: none;
    }

    .date {
      font: font(small);
      color: color(grey);
    }

    &:hover {
      border: 5px solid rgba(255,255,255,1);

      h2 {
        top: 0;
        text-decoration: underline;
      }
      .content {
        display: block;
      }

      h2, .content {
        -webkit-animation: fadeInUp 500ms;
        animation: fadeInUp 500ms;
      }
    }
  }
}