{{#if movies}}
  <section class="movie-list row">
    <div class="gallery">
      {{#each movies}}
        <div class="gallery-cell"
             data-id="{{id}}"
             style="background-image:url(
               {{#if poster_path}}
               https://image.tmdb.org/t/p/w342{{poster_path}}
               {{else}}
               http://hamishhossack.co.uk/assets/images/logo.svg
               {{/if}}
               )">
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}