main {
  min-width: 100%;
  min-height: 100%;
  background: color(pigeon);

  .logo img {
    margin: .5em;
    height: 3em;
  }

  search {
    height: 10%;
  }

  movie-selected {
    height: 40%;
  }

  movie-list {
    height: 50%;
  }
}