<section class="main-page">
  <div class="main-header row">
    <div class="logo two columns">
      <img src="http://hamishhossack.co.uk/assets/images/logo.svg" alt="logo" />
    </div>
    <search class="ten columns"></search>
  </div>
  <div class="row">
    <current-list class="twelve columns"></current-list>
  </div>
</section>