<section class="main-page">
  <div class="main-header row">
    <search class="twelve columns"></search>
  </div>
  <div class="row">
    <movie-selected class="twelve columns"></movie-selected>
  </div>
  <div class="row">
    <movie-list class="twelve columns"></movie-list>
  </div>
</section>